footer {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 11px 0;
    background-color: #E9EAE2;
}
footer span{
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    opacity: 0.4;
}