.header{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0 60px;
    height: 60px;
    background-color: var(--dark-color);
}
.header::before{
    content: '';
    position: absolute;
    height: 6px;
    bottom: -5px;
    left: 0;
    width: 100%;
    background-image: url("/svg/edge-down.svg");
    background-repeat: repeat-x;

}

/*logo*/
.header .logo{
     font-size: 20px;
     font-weight: 700;
     line-height: 30px;
     color: var(--white-color);
}
.header .logo span{
    font-size: 20px;
    color: var(--primary-color);
}

/*navigation*/
.header ul li{
    display: inline-block;
    margin-left: 20px;
}
.header li a{
    font-weight: 500;
    line-height: 24px;
    color: var(--white-color);
    transition: color 200ms ease-in-out;
}
.header li a:hover{
    color: var(--primary-color);
}

@media (max-width:900px){
    .header ul li{
        margin-left: 10px;
    }
    .header ul  {
        text-align: right;
    }
    .header{
        padding: 0 30px;
    }
}
@media (max-width:463px) {
    .header li a{
        font-size: 12px;
    }
    .header{
        padding: 0 10px;
    }
    .header .logo{
        font-size: 18px;
    }
    .header .logo span{
        font-size: 18px;
    }
}